# =========================
# Java / Maven
# =========================

*.class
*.jar
*.war
*.nar
*.ear

target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.nextSnapshot
release.properties
dependency-reduced-pom.xml
buildNumber.properties

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

hs_err_pid*
replay_pid*

# =========================
# Logs
# =========================

logs/
*.log
*.lst

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Frontend
# =========================

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# =========================
# IDEs / Editors
# =========================

.idea/
*.iml

.vscode/
.settings/
.project
.classpath

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# System
# =========================

.DS_Store
Thumbs.db

# =========================
# Docker
# =========================

.docker/

# =========================
# Archives
# =========================

*.zip
*.tar.gz
*.rar